
/*header en footer style*/

.headerfooter{
    width: 430px;
    height: 30px;
    background-color: aquamarine;
    color: blueviolet;
    font-family: sans-serif
}

/*tabel style*/

        /*tabellen zonder afbeelding*/
#td1{
    width: 100px;
    height: 100px;
    background-color: yellow;
    color:black
}

#td2{
    width: 100px;
    height: 100px;
    background-color: green;
    color:black;
}

#td3{
    width: 100px;
    height: 100px;
    background-color: white;
     color:black;
}

#td4{
    width: 100px;
    height: 100px;
    background-color: red;
     color:black;
}

#td5{
    width: 100px;
    height: 100px;
    background-color: purple;
     color:black;
}

#td6{
    width: 100px;
    height: 100px;
    background-color: pink;
     color:black;
}

#td7{
    width: 100px;
    height: 100px;
    background-color: lightgray;
     color:black;
}

#td8{
    width: 100px;
    height: 100px;
    background-color: lightblue;
     color:black;
}

        /*tabellen met afbeelding*/

#tdA{
    width: 100px;
    height: 100px;
    background-color: rgb(99, 141, 71);
}
#tdB{
    width: 100px;
    height: 100px;
    background-color: rgb(68, 117, 133);
}
#tdC{
    width: 100px;
    height: 100px;
    background-color: rgb(116, 136, 69);
}
#tdD{
    width: 100px;
    height: 100px;
    background-color: rgb(99, 70, 97);
}
#tdE{
    width: 100px;
    height: 100px;
    background-color: rgb(59, 55, 121);
}
#tdF{
    width: 100px;
    height: 100px;
    background-color: rgb(119, 59, 59);
}
#tdG{
    width: 100px;
    height: 100px;
    background-color: rgb(53, 113, 133);
}
#tdH{
    width: 100px;
    height: 100px;
    background-color: rgb(75, 48, 105);
}